
body, html {
    background-color: blanchedalmond;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: "Inconsolata", sans-serif; */
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("https://avatars.mds.yandex.net/i?id=dcbbcb5ba095ccb236e4e6b921cb96b9-5086676-images-thumbs&n=13");
  min-height: 75%;
}

.menu {
  display: none;
}
